@frontend-team:registry=https://gitlab.ikameglobal.com/api/v4/groups/2031/-/packages/npm/
//gitlab.ikameglobal.com/api/v4/groups/2031/-/packages/npm/:_authToken=${IKAME_NPM_TOKEN}
//gitlab.ikameglobal.com/api/v4/projects/1311/packages/npm/:_authToken=${IKAME_NPM_TOKEN}
//gitlab.ikameglobal.com/api/v4/projects/1351/packages/npm/:_authToken=${IKAME_NPM_TOKEN}
